// Specific CSS for your home-page
h1 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.room-details {
  width: 60%;
  margin: 1em auto;
  padding: 8px;
  border: 1px solid red;
  border-radius: 4px;
  &:hover {
    transform: scale(1.05);
    transition: all 200ms ease-in;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: black;
    &:hover {
    text-decoration: none;
    color: black;
  }
}
