// Specific CSS for your home-page
h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #46BDDF;
  border-bottom: 1px solid #E5C453;
  padding-bottom: .3em;
}

.room-details {
  width: 60%;
  margin: 1em auto;
  padding: 8px;
  border-left: 3px solid #E5C453;
  color: #52D273;
  &:hover {
    transform: scale(1.05);
    transition: all 200ms ease-in;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: black;
    &:hover {
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.2em;
  }
  .room-details {
    width: 100%;
    div > p {
      font-size: .7em;
    }
  }
}
