#room {
  width: 90%;
  height: 75vh;
  margin: 1em auto;
  // border: 1px solid red;
  border-radius: 4px;
  padding: 1em;

  #message-box {
    padding: 1em;
    height: 85%;
    // border: 1px solid blue;
    border-radius: 4px;
    margin-bottom: 2px;
    overflow-y: scroll;

    .bubble {
      display: inline-block;
      padding: .2em .7em;
      margin-top: 1em;
      border-radius: 1em;
    }

    .message {
      font-weight: 700;
    }

    .message-info {
      display: flex;
      align-items: center;
      padding: 0;
      margin-bottom: 0;

      .nickname {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.2em;
      }
      .time-o-message {
        margin-bottom: 0;
        margin-left: 2em;
        font-size: .7em;
        opacity: .8;
      }
    }
  }

  #form-box {
    height: 15%;
    border-top: 1px solid #000;
    margin-top: 8px;
    position: relative;
    input {
      position: absolute;
      font-size: 1.5em;
      margin: 0 1em;
      top: 20%;
      background-color: transparent;
      border: none;
      &:focus {
        background-color: none;
        box-shadow: none;
        border: none;
      }
    }
  }
}

