<h1><%= @chatroom.topic %></h1>
<div id="room">
  <div id="message-box" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render './messages/message', message: message %>
    <% end %>
  </div>
  <div id="form-box">
    <% if policy(Message).create? %>
      <%= render './messages/form' %>
    <% end %>
  </div>
</div>
