<div id="room">
  <div id="message-box">
    <% @chatroom.messages.each do |message| %>
      <div class="message-info">
        <p class="nickname"><%= message.user.nickname %></p>
        <p class="time-o-message"><%= message.created_at.strftime("%H:%M %A") %></p>
      </div>
      <p class="content"><%= message.content %></p>

    <% end %>
  </div>
  <div id="form-box">
    <%= render './messages/form' %>
  </div>
</div>
