.navbar-lewagon {
  justify-content: flex-end;
  background: black;
  #navbarSupportedContent > ul > li > a, #navbarDropdown {
    color: #46BDDF;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  margin: 0 .5em;
}
